.register-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.85); /* translucent white */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #0073b1;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005b8b;
  }
  
  .login-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-link a {
    color: #0073b1;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  :host {
    display: block;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/7130470/pexels-photo-7130470.jpeg?auto=compress&cs=tinysrgb&w=1920');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  